[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:Vauxoo/mexico.git
	branch = 12.0
[submodule "vendor-bills"]
	path = vendor-bills
	url = git@git.vauxoo.com:Vauxoo/vendor-bills.git
	branch = 12.0
